section {    
    margin: 10px 40px;
    background-color: var(--ocean-deep);
    padding: 10px;
    border-radius: 20px;
    h2 { background-color: red; margin-bottom: 20px;}    
}
p, li { font-weight: bold;}
.ocean-atmosphere-title {
    font-size: 1.4em;font-family: "Monoton", sans-serif; letter-spacing: 1px;
}
.ocean-atmosphere-subtitle { font-size: 1.3em; background-color: var(--ocean-cyan);}
.page1, .page2, .page3, .page4, .page5, .page6 {
    overflow: hidden;
    text-align: center;
    padding: 0px 0 0 0;   
    margin-bottom: 100px; 
}
.pollution-info-wrapper {
    text-align: center;
    ul { 
        background-color: var(--ocean-light);
        padding: 10px;
        list-style-position: inside; list-style-type: square; margin-bottom: 50px; li {color: var(--ocean-deep);} 
    }
}
.inner-wrapper {
    p { background-color: var(--ocean-light); padding: 25px; font-size: 1.2em; text-shadow: 0px 0px 10px red;       }
}
.graph-details {
    display: flex; flex-direction: column;    
    justify-self: center;
    width: 200px;
    div {
        display: flex;justify-content: space-between;        
    }
}