a {text-decoration: none; text-transform: uppercase; color: white; font-weight: bold;}
h2,h3,h4 {text-transform: uppercase;}
.main-container {
    max-width: 100vw;
    display: flex;    
    justify-content: space-around;    
}
.points-container { 
    display: flex; justify-content: space-around;
    border: 2px solid white; border-radius: 100vw; 
    padding: 10px; width: 100px;  
}

.right-container {
    display: flex;   
    justify-content: space-around;  
}
.graph-wrapper {
    position: relative;
    border: 2px solid green;
    & img {    
        position: absolute;
        width: 200px;    
    }
}

.answer-info {
    position: absolute;
    z-index: -1;
    width: 90%;
    top: 5px;
    left: 5%;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);    
}

.answer-info.isActive {
    z-index: 9999999;
}